body {
  margin: 0;
}
* {
  box-sizing: border-box;
}
.row {
  display: flex;
}
[class^="column"] {
  padding: 0.5rem;
  background-color: thistle;
}
.column {
  /* flex: 1 0 0; */
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 0;
}
.container {
  max-width: 980px;
  margin: 0 auto;
}
.column-1 {
  flex: 0 0 8.33333%;
}
.column-2 {
  flex: 0 0 16.66666667%;
}
.column-3 {
  flex: 0 0 25%;
}
.column-4 {
  flex: 0 0 33.33333333%;
}
.column-5 {
  flex: 0 0 41.66666667%;
}
.column-6 {
  flex: 0 0 50%;
}
.column-7 {
  flex: 0 0 58.33333333%;
}
.column-8 {
  flex: 0 0 66.66666667%;
}
.column-9 {
  flex: 0 0 75%;
}
.column-10 {
  flex: 0 0 83.33333333%;
}
.column-11 {
  flex: 0 0 92.66666667%;
}
.column-12 {
  flex: 0 0 100%;
}
